$bg-color: #17181c;
$text-light: #f2f2f6;
$text-white: #fff;
$highlight: #ffd600;
$text-dark: #222;

$main-font: 'Segoe UI', 'Roboto', 'Arial', sans-serif;

$shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
$shadow-hover: 0 8px 32px rgba(0, 0, 0, 0.16);

$sm: 767.98px;
$md: 991.98px;